<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@3.0.4/dist/vue.global.prod.js"></script>

</head>
<body>

    <div>
        <h1>{{ title }}</h1>

        <p>
            Using the custom <code>renderComponent</code> nunjucks global to:
            SSR <code>mybutton.vue</code> with server-context + hydrate with CSR bundle on demand
        </p>
        {{ renderComponent('mybutton', {
            props: {
                count: count
            }
        }) | await }}

        <p>…same with <code>carousel.vue</code></p>
        {{ renderComponent('carousel', {
            props: {
                items: carouselItems
            }
        }) | await }}

    </div>


    {% for id, obj in csrBlocks %}
        <!-- {{id}} -->
        <style>
        {{ obj.css | safe }}
        </style>
        <script type="module">
        {{ obj.js | safe }}
        </script>
        

    {% endfor %} 


    {# {{ csrBlocks | dump(2) | safe }} #}

</body>
</html>


